<section class="clients__wrapper">
  <div class="clients__container">
    <h1 class="clients__heading">Clients</h1>

    <ul class="clients__list">
      <li class="clients__list-item">
        <a href="https://www.fivefourventures.com">
          <img src="/assets/clients__ffv.png" alt="Five Four Ventures" />
        </a>
      </li>
      <li class="clients__list-item">
        <a href="https://www.getbellway.com">
          <img src="/assets/clients__bellway.png" alt="Bellway" />
        </a>
      </li>
      <li class="clients__list-item">
        <a href="https://www.waggle.tv">
          <img src="/assets/clients__waggle.png" alt="Waggle" />
        </a>
      </li>
      <li class="clients__list-item">
        <img src="/assets/clients__seasonly.png" alt="Seasonly" />
      </li>
      <li class="clients__list-item">
        <img src="/assets/clients__cleansleep.png" alt="Clean Sleep" />
      </li>
      <li class="clients__list-item">
        <img src="/assets/clients__slidestories.png" alt="Slide Stories" />
      </li>
    </ul>
  </div>
</section>
