<section class="services__wrapper">
  <div class="services__container">
    <h1 class="services__heading">What we do</h1>

    <p class="services__copy">
      We develop bespoke software solutions for web and mobile. Using some of
      the latest technology available, we make sure your service is fast and
      scalable. From simple websites, to complex iOS applications, real-time
      systems and online stores, we cover it all.
    </p>

    <ul class="services__list">
      <li class="services__list-item">
        <img src="/assets/services__rails.png" alt="Ruby on Rails" />
      </li>
      <li class="services__list-item">
        <img src="/assets/services__elixir.png" alt="Elixir" />
      </li>
      <li class="services__list-item">
        <img src="/assets/services__swift.png" alt="Swift" />
      </li>
      <li class="services__list-item">
        <img src="/assets/services__shopify.png" alt="Shopify" />
      </li>
    </ul>
  </div>
</section>
